@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}

main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #3A8891;
    font-family: 'Quicksand', sans-serif;
}

input,
button {
	padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
	color: black;
}

button {
	margin: 0.5rem;
    background-color: #0E5E6F;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
li {
	margin-bottom: 10px;
  }

  li button {
	font-size: 15px;
	margin-left: 20px;
	color: rgb(245, 240, 240);
  }

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}

