@media screen and (min-width: 551px) and (max-width: 1023.9px){
    header{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 0.5fr;
    }
    .second-grid{
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: right;
        line-height: 1px;
    }
    .header p{
        font-size: 30px;
    }
    /* Social Media */
    .fa{
        padding: 2px;
      }
    /* Footer */
    .first-footer{
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
    }  
    footer h3{
        margin-bottom: 0px;
    }
    .last-footer{
        display: none;
        /* text-align: left; */
    }
    .last-footer-medium{
       padding: 10px;
    }
    #lastUpdate{
        text-align: center;
        margin-top: 0px;
        padding: 5px;
    }

    /* about us */
    #firstP, #secondP{
        font-size: 20px;
      }
    #firstP{
        padding: 30px;
        margin: 0;
    }
    .photoA{
        margin: 0;
    }
    
}