@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Delicious+Handrawn&display=swap');
header {
    background-color: #FFACAC;
    /* color: #625e5e;    */
    font-family: 'Source Sans Pro', sans-serif;
   /* position: fixed;
   z-index: 1; */
  }
  nav{
    background-color: #FFACAC;
    font-family: 'Source Sans Pro', sans-serif;
    color: #625e5e;
  }
  nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    align-self: center;
  }
  nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
  }
  nav ul li a{
    display: block; 
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    border: 10px;
  }
  nav ul.open{
    display: block;
  }
  nav ul li a:hover{
    /* background-color:#C4C2C2; */
    color: white;
  }
  img.logo{
    max-width: 100px;
  }
  /* Social Media */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
      color: black;
  }
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
  }
  .fa-instagram {
  /* background: rgb(214, 41, 118); */
  color: white;
}
.fa-pinterest {
  /* background: #E60023; */
  color: white;
}
img, iframe{
  max-width: 100%;
}

/* Footer */
footer{
  background-color: #C4C2C2;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}
footer img{
  max-width: 100px;
}
.last-footer{
  background-color:#FFACAC;
  color: black;
}
.last-footer-medium{
  background-color:#FFACAC;
  color: black;
}
h1, h2 h3, h4, h5{
  font-family: Verdana, sans-serif;
}
p, ul{
  font-family: 'Enriqueta', serif;
}

/* main */
h1{
  background-color: #FFACAC;
  text-align: center;
}

/* about us page */
.about h1{
  padding: 5px;
  margin: 0;
}
.about p{
  text-align: center;
}
.grid-contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 0;
}
#firstP{
  background-color: #FFEBB4;
  border: 5px solid #FFBFA9;
  /* padding: 10px;
  margin-bottom: 10px; */
}
.photoB{
  grid-column: 2;
  grid-row: 2;
}
#secondP{
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  background-color: #FFBFA9;
  border: 5px solid #FFEBB4;
  
}
iframe{
  display: block;
  margin: auto;
}

/* index */
.weather-grid{
  display: grid;
  text-align: center;
}
#weather-grid img{
  max-width: 100%;
}
.last-build{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.build{
  background-color: #FFEBB4;
}
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
}
.build{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.build button:hover{
  background-color: #FFBFA9;
}
.weather-grid img{
  max-width: 50%;
}
.number{
  background-color: #FFBFA9;
}
.explanation{
  text-align: center;
  padding: 5px;
  background-color: #FFBFA9;
  border: 10px solid #FFEBB4;
}
.index p{
  text-align: center;
  padding: 10px;
}
.facts{
  border: 10px solid #FFEBB4;
}
.number p{
  font-size: 20px;
  background-color: white;
}

/* fresh */
.freshDiv{
  background-color: #FFBFA9;
  display: grid;
  align-items: center;
}
fieldset{
  background-color: white;
  border: 10px solid #FFEBB4;
  text-align: left;
}
form{
  display: block;
  text-align: center;
  /* width: 90%; */
  margin: 0 auto;
}
legend{
  background-color: #FFEBB4;
  /* border-radius: 5px; */
  /* text-transform: uppercase; */
  padding: 10px;
  text-align: center;
}
form input{
  display: block;
  font-size: 15px;
  padding: 10px 0 10px 10px;
  max-width: 100%;
}
#table h1{
  margin: 0;
}
#button{
  width: 100%;
  background-color: #FFACAC;
}
#button:hover{
  background-color: #FFBFA9;
}
hr{
  border: none;
}
label, input{
  display: block;
  font-size: 15px;
}
form input:required{
  border-left:red solid 6px;
}
form input:required:valid{
  border-left:green solid 6px;
}
textarea{
  height: 150px;
}
input, textarea{
  margin-bottom: 20px;
  width:100%;
  max-width: 500px;
}
#table{
  text-align: center;
}

@media screen and (max-width: 550.9px){
  header{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr;
  }
  .second-grid{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;
    line-height: 1px;
  }
  .second-grid p{
    /* font-size: 20px; */
    max-width: 100%;
  }
  .second-grid h3{
    /* font-size: 20px; */
    max-width: 100%;
  }
  /* social media */
  .fa{
    padding: 1px;
  }
  header #title{
    grid-column: 1/5;
}
#title{
  font-size: 25px;
}
/* Footer */
  footer{
    display: block;
    text-align: center;
  }
  footer h3{
    margin: 0px;
  }
  footer p{
     margin: 5px;
  }
  .last-footer h4{
    margin: 0px;
  }
  .adress{
    font-size: 15px;
    line-height: 11px;
  }
  .last-footer p:nth-child(1){
    padding-top: 5px;
  }
  .last-footer p:nth-child(4){
    padding-bottom:5px;
  }
  .last-footer-medium{
    display: none;
  }
  
  /* main  */
  p{
    font-size: 20px;
  }
  img{
    max-width: 100%;
    /* border: 1px solid black; */
  }
  iframe{
    max-width: 100%;
    height: 50%;
  }
  
  /* about us page */
  p{
    font-size: 15px;
    margin: 0 0 10px 0;
  }
  #firstP{
  padding: 10px;
  margin-bottom: 10px;
  }

/* Index page */
  .index h1{
    font-size: 25px;
    margin: 0;
  }
  .index img{
    margin: 0;
  }
  .weather-grid {
    grid-template-columns: 1fr 1fr;
  }
  .weather, .weather3{
    background-color: #FFEBB4;
  }
  .weather1, .weather2{
    border: 5px solid #FFBFA9;
  }
  .button-52 {
    padding: 13px 50px 13px;
  }
  .explanation iframe{
    display: none;
  }
  
  /* fresh */
  #freshImg{
    display: none;
  }
  .fresh{
    grid-template-columns:  1fr;
  }
  .fresh h1{
    font-size: 20px;
  }
  form{
    width:350px;
  }

}