@media only screen and (min-width: 1050px) {
  body{
    margin: 0;
  }
    header {
      font-size: 30px;
    }
    .section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
   
    h2 {
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 20px;
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    div.link {
        width: 90%;
        padding: 5px;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h4{
        padding: 5px;
      }

    footer{
      font-size: 30px;
    }
  }