@media only screen and (min-width: 700px) {
  header {
    font-size: 30px;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  h4{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }

  footer{
    font-size: 20px;
  }
}