@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

body {
  background-color: #b8d8d8;
  font-family: "Crimson Text", serif;
}

header {
  width: 100%;
  background-color: #7a9e9f;
  padding: 5px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

h2 {
  background-color: #eef5db;
  text-align: center;
  width: 100%;
}
a:link {
  color: rgb(225, 230, 207);
  text-align: center;
  padding: 10px 20px;
} 
a:visited{
    color: black;
  }

  a:hover {
    color: white;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
    color: white;
    padding: 1px;
  }
  img {
    display: block;
    width: 100%;
  }
  div.link {
    background-color: #4f6367;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    padding: 20px 10px;
  }
footer{
    background-color: #7a9e9f;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    padding: 5px;
  }
@media only screen and (min-width: 426px) {
 
  header {
    font-size: 1rem;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr;
  }
  h4{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }

  footer{
    font-size: 15px;
  }
}