@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

body {
  background-color: #b8d8d8;
  font-family: "Crimson Text", serif;
  
}

header {
  width: 100%;
  background-color: #7a9e9f;
  padding: 5px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

h2 {
  background-color: #eef5db;
  text-align: center;
  width: 100%;
  padding: 5px;
}
a:link {
  color: rgb(225, 230, 207);
  text-align: center;
  padding: 10px 20px;
} 
a:visited{
    color: black;
  }

  a:hover {
    color: white;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  p {
    text-align: center;
    background-color: #fe5f55;
    color: white;
  }
  img {
    display: block;
    width: 100%;
  }
  div.link {
    background-color: #7a9e9f;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div h4 {
    text-align: center;
  }

@media only screen and (min-width: 400px) {
 
  header {
    font-size: 1rem;
  }
  section .section1 {
    grid-area: section1;
  }

  section .section2 {
    grid-area: section2;
  }

  section .section3 {
    grid-area: section3;
  }
  .section {
    display: grid;
    grid-template-areas:
      "section1"
      "section2"
      "section3";
  }
  div.link {
    width: 80%;
  }

  p{
    font-size: 20px;
  }
}