@media screen and (min-width: 551px) and (max-width: 1023.9px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.4fr;
    }
    .second-grid{
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: right;
        line-height: 1px;
    }
    .header p{
        font-size: 30px;
    }
    #date1{
        grid-column: 1/5;
        text-align: center;
        font-size: 15px;
    }
    
    .last-footer{
        display: grid;
        grid-template-columns: 3fr 0.7fr 0.7fr;
        font-size: 13px;
        /* text-align: left; */
    }
    .last-footer p:nth-child(1){
        text-align: right;
    }
    .last-footer p:nth-child(2){
        text-align: center;
    }
    #lastUpdate{
        text-align: center;
        margin-top: 0px;
    }
    
    header .social-media{
        display: none;
    }
    .gallery{
        font-size: 18px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }