@media screen and (min-width: 551px) and (max-width: 1023.9px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.4fr;
    }
    .second-grid{
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: right;
        line-height: 1px;
    }
    .header p{
        font-size: 30px;
    }
    #date1{
        grid-column: 1/5;
        text-align: center;
        font-size: 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: repeat(5, 160px); */
        grid-gap: 5px;
    }
    .large-Sp{
        display:none;
    }
    #hero{
        grid-column: 1/3;
        grid-row: 1;
        margin: 0px;
        margin-top: 10px;
    }
    #newR{
        grid-column: 1/3;
        grid-row: 2;
        margin: 0px;
    }
    .grid div:nth-child(5){
        grid-column: 1/3;
        grid-row: 3;
        margin: 0px;
    }
    #join{
        grid-column: 1/3;
        grid-row: 4;
        margin: 0px;
    }
    #events{
        grid-column: 1/2;
        grid-row: 5;
        margin: 0px;
        text-align: center;
    }
    #weather{
        grid-column: 2/3;
        grid-row: 5;
        margin: 0px;
    }
    .first-footer{
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
    }  
    footer h3{
        margin-bottom: 0px;
    }
    .one p:nth-child(2){
        margin: 0px;
    }
    .one p:nth-child(3){
        margin: 0px;
    }
    .two{
        text-align: center;
    }
    .two p{
        line-height: 1px;
    }
    .two p:nth-child(1){
        padding-top: 30px;
    }
    .last-footer{
        display: grid;
        grid-template-columns: 3fr 0.7fr 0.7fr;
        font-size: 13px;
        /* text-align: left; */
    }
    .last-footer p:nth-child(1){
        text-align: right;
    }
    .last-footer p:nth-child(2){
        text-align: center;
    }
    #lastUpdate{
        text-align: center;
        margin-top: 0px;
    }
    .main-spotlight{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    /* .main-spotlight p:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        margin-top: 0px;
        margin-bottom: 0px;
    } */
    .main-spotlight p:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    header .social-media{
        grid-column: 4;
        grid-row: 1;
        padding-top: 30px;
    }
    #weather img{
        max-width: 50%;
        margin-left: 55px;
    }
    #weather h4{
        font-size: 35px;
    }
    #weather p{
        margin-top:0;
        margin-bottom: 1px;
    }
    #newR hr{
        display: none;
    }
    #newR p{
        font-size: 20px;
    }
    #newR h1{
        text-align: center;
    }
    /* #hero{
        position: relative;
      } */
    .summary{
        position: absolute;
        top: 1px;
        left: 240px;
        text-align: center;
        border-radius: 15px;
        padding: 5px;
        top: 70px;
        left: 10px;
    }
    #spotlight-3{
        display: none;
    }
    #spotlight-1, #spotlight-2{
        padding: 10px;
        background-color:#86C8BC ;
        text-align: center;
        border-radius: 10px;
    }
    #spotlight-2 .vineyard p{
        margin: 2px;
    }
    #spotlight-2 .vineyard h5{
        margin: 2px;
    }
    #spotlight-2 .vineyard{
        margin-top: 30px;
    }
    #join button{
        margin-top: 5px;
        width: 95%;
    }
    #join p{
        padding: 20px;
        text-align: center;
        background-color:#86C8BC;
        margin-top: 0;
        border-radius: 10px;
    }
    #events h1{
        margin: 30px;
    }
    #events p{
        margin: 40px;
        background-color: #86C8BC;
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
    }
    #hero button, #events button, #join button{
        font-size: 20px;
    }
    #hero h2{
        font-size: 15px;
    }
    .one iframe{
        width: 100%;
        height: 50%;
    }
    #spotlight-2 iframe{
        width: 100%;
        height: 50%;
    }
    #spotlight-2 img{
        display: none;
    }
    .largeImg{
        display: none;
      }
    .gallery{
    font-size: 18px;
    }
    .grid-disc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .social-media{
        display: none;
    }
    /*join*/
    .join_main{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
}

