@media screen and (min-width: 551px) and (max-width: 1023.9px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.4fr;
    }
    .second-grid{
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: right;
        line-height: 1px;
    }
    .header p{
        font-size: 30px;
    }
    #date1{
        grid-column: 1/5;
        text-align: center;
        font-size: 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(5, 160px);
        grid-gap: 5px;
    }
    .large-Sp{
        display:none;
    }
    #hero{
        grid-column: 1/3;
        grid-row: 1;
        margin: 0px;
        margin-top: 10px;
    }
    #newR{
        grid-column: 1/3;
        grid-row: 2;
        margin: 0px;
    }
    .grid div:nth-child(5){
        grid-column: 1/3;
        grid-row: 3;
        margin: 0px;
    }
    .grid p:nth-child(6){
        grid-column: 1/3;
        grid-row: 4;
        margin: 0px;
    }
    .grid p:nth-child(2){
        grid-column: 1/2;
        grid-row: 5;
        margin: 0px;
    }
    .grid p:nth-child(3){
        grid-column: 2/3;
        grid-row: 5;
        margin: 0px;
    }
    .first-footer{
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
    }  
    footer h3{
        margin-bottom: 0px;
    }
    .one p:nth-child(2){
        margin: 0px;
    }
    .one p:nth-child(3){
        margin: 0px;
    }
    .two{
        text-align: center;
    }
    .two p{
        line-height: 1px;
    }
    .two p:nth-child(1){
        padding-top: 30px;
    }
    .last-footer{
        display: grid;
        grid-template-columns: 3fr 0.7fr 0.7fr;
        font-size: 13px;
        /* text-align: left; */
    }
    .last-footer p:nth-child(1){
        text-align: right;
    }
    .last-footer p:nth-child(2){
        text-align: center;
    }
    #lastUpdate{
        text-align: center;
        margin-top: 0px;
    }
    .main-spotlight{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    .main-spotlight p:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .main-spotlight p:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    header .social-media{
        grid-column: 4;
        grid-row: 1;
        padding-top: 30px;
    }
    #hero img{
        display: none;
    }
    #weather img{
        display: none;
    }
}
