header {
  background-color: #FFF6BD;
 color: #625e5e;   font-family: 'Source Sans Pro', sans-serif;
 /* position: fixed;
 z-index: 1; */
}
nav{
  background-color: #FFF6BD;
  font-family: 'Source Sans Pro', sans-serif;
  color: #625e5e;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  align-self: center;
}
nav button{
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
nav ul li a{
  display: block; 
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  border: 10px;
}
nav ul.open{
  display: block;
}
main{
    background-color:white;  
  font-family: 'Alegreya', serif;
}
.grid-item{
  background-color: #CEEDC7;
  border: 1px solid rgb(118 172 67 / 80%);
  padding: 5px;
}
div:nth-child(5) {
  display: grid;
}
footer{
  background-color: #FFF6BD;
  font-family: 'Source Sans Pro', sans-serif;
  color: #625e5e;
}
footer img{
  max-width: 100px;
}
/* .spotlight, .large-Sp{
  border: 1px solid rgb(118 172 67 / 80%);
} */
nav ul li a:hover{
  background-color:#FFD4B2;
  color: white;
}
.summary h2{
  display: none;
}
#date1{
  background-color:#FFD4B2;
  color: black;
}
#spotlight-2 h3, #spotlight-1 h3, #spotlight-3 h3{
  background-color: white;
  border-radius: 50px;
  padding: 4px;
}
.last-footer{
  background-color:#FFD4B2;
  color: black;
}
img.logo{
  max-width: 100px;
}
#hero img{
  max-width: 100%;
}
#weather img{
  max-width: 100%;
}
#hero button, #events button, #join button{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 18px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  /* font-size: 18px; */
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
#hero button:hover, #events button:hover, #join button:hover {
  width: 100%;
}
#weather h4{
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(to left, #ffe522, #646641);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}
#newR p{
  margin: 20px;
  background-color:#86C8BC;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
#hero{
  position: relative;
}
.summary{
  position: absolute;
}
#weather h1{
  text-align: center;
  margin: 0;
  margin-top: 10px;
  color: #6c6907;
}
#weather p{
  background-color: #86C8BC;
  border-radius: 10px;
  padding: 10px;
}
#spotlight-1 img{
  width: 100%
}
.vineyard{
  background-color: #CEEDC7;
  border-radius: 10px;
  margin-bottom: 5px;
}
#date2{
  text-align: center;
  grid-column: 1/5;
  background-color: #FFD4B2;
  padding: 5px;
}
/* .flex{
  display: flexbox;
} */
img{
  width: 100%;
}
.description{
  padding: 15px;
  text-align: center;
  background-color: #86C8BC;
}
.grid-disc{
  background-color: #CEEDC7;
}
h2{
  text-align: center;
  padding: 10px;
  margin: 10px 20px 0 20px;
}
.grid-disc img:hover{
  max-width: 98%;
}
/* .grid-disc img{
    display: block;
    margin: 0 auto;
    padding: 5px;
} */
/* Join page */
#join_form{
  display: flex;
  width: 90%;
  margin: 0 auto;
/*   flex-direction:row;
  margin-left: 80px;  this is for Medium or Large*/
}
label, input{
  display: block;
  font-size: 1.5em;
}
label{
  margin: 20px 0 0 0;
}
input{
  height: 50px;
}
input[type="radio"]{
  height: 20px;
}
form input:required{
  border-left:red solid 6px;
}
form input:required:valid{
  border-left:green solid 6px;
}
#radio{
  display: grid;
  grid-template-columns: 60px 100px;
  align-items: center;
}
#radio label, #radio input{
  margin:0;
}
textarea{
  height: 150px;
}
input, textarea{
  margin-bottom: 20px;
  width:100%;
  max-width: 500px;
}
input[type="submit"]{
  height: 80px;
  width: 75%;
  background-color: #dfd4d0ee ;
  border-radius: 10px;
}
input[type="submit"]:hover{
  background-color: white;
}
.ref{
  text-decoration: none;
}
.join_main{
  background-color: #CEEDC7;
  padding: 10px;
}
#membership{
  margin-top:100px;
}
#bronze, #gold{
  background-color: #86C8BC;
}
#silver{
  background-color: #FFF6BD;
}
#bronze, #silver, #gold{
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}
#membership h3{
  margin: 0;
  text-align: center;
}
#membership h4{
  margin: 0;
}
.ty_main{
  text-align: center;
  background-color: #CEEDC7;
}
/* Directory */
.cards{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.directory section{
  border: 1px solid #86C8BC;
  background-color: #CEEDC7;
  padding: 30px;
  width: 400px;
  margin: 20px;
}
.cards img{
  width: 90%;
  box-shadow: 5px 10px 8px 5px #888;
  padding: 5px;
}
/* h1, h2{
  text-align: center;
  color: lightcoral;
  margin: 0;
} */
.directory p{
  line-height: 30px;
  font-size: 18px;
}
.directory #cards, .directory #list{
  border: 3px solid #CEEDC7;
  padding: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 10px 3px #86C8BC;
}
#view{
  text-align: center;
  font-size: 1.5em;
  padding-top: 30px;
}
table{
  width: 75%;
  margin: 50px auto;
  font-size: 1.2em;
}
.directory h4{
  padding: 0;
  text-align: center;
}
td{
  padding: 5px;
  display: table-cell;
}
tr:nth-of-type(even){
  background-color: #86C8BC;
}
tr:nth-of-type(odd){
  background-color: #CEEDC7;
}
/* #weather_icon{
  width: 100%;
  padding: 5px;
  margin: 10px;
} */
/* contact */
.contact_main h1
{
  text-align: center;
}
.contact_main form{
  margin: 0 auto; 
  width:350px;
  /* text-align: center; */
  border-radius: 10px;

}
.contact_main #button{
  margin: 0 auto; 
  width:150px;
  height: 50px;
  background-color: #CEEDC7;
}
.contact_main #button:hover{
  width: 50%;
}
.contact_main{
  background-color: #86C8BC;
}
@media screen and (max-width: 550.9px){
  header{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
  }
  .second-grid{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;
    line-height: 1px;
  }
  .second-grid p{
    font-size: 15px;
  }
  .grid{
    display:grid;
    /* grid-template-rows: repeat(4, 200px); */
    grid-template-columns: 1fr;
  }
  .grid-item{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .main-spotlight{
    display: grid;
    grid-template-columns: 1fr; 
  }
  .spotlight{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px;
  }
  /* .large-Sp{
    display:none;
  } */
  footer{
    display: block;
    text-align: center;
  }
  footer h3{
   margin: 0px;
  }
  footer p{
    margin: 5px;
  }
  #date1{
    grid-column: 1/4;
    text-align: center;
    font-size: 15px;
  }
  .last-footer h4{
    margin: 0px;
  }
  .adress{
    font-size: 15px;
    line-height: 11px;
  }
  .last-footer p:nth-child(1){
    padding-top: 5px;
  }
  .last-footer p:nth-child(4){
    padding-bottom:5px;
  }
  #spotlight-3{
    display: none;
  }
  #join{
    display: none;
  }
  header .social-media{
    display:none;
  }
  #weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
  }
  #weather h1{
    grid-column: 1/3;
    grid-row: 1;
  }
  #weather img{
    grid-column: 1/2;
    grid-row: 2/5;
    width: 100%;
  }
  #weather p{
    grid-column: 2/3;
    text-align: center;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    align-self: center;
    margin: 0 5px;
  }
  #weather h4{
    font-size: 50px;
    grid-column: 1/3;
    grid-row: 5;
  }
  #events h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: black;
  }
  #events{
    text-align: center;
  }
  #events p{
    background-color:#86C8BC;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 2px;
  }
  
  #newR h1{
    text-align: right;
    margin-right: 20px;
  }
  
  #spotlight-1, #spotlight-2{
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
    padding: 10px;
    background-color:#86C8BC;
    border-radius: 10px;
  }
  #spotlight-1 h3{
    margin-top: 0;
  }
  #spotlight-1 p:nth-child(3){
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
  }
  #spotlight-1 p:nth-child(5){
    margin: 0;
  }
  #spotlight-2 img{
    width: 100%;
    border-radius: 10px;
  }
  #spotlight-2 h3{
    margin-bottom: 10px;
    margin-top: 5px;
  }
  #spotlight-2 h4{
    color: #fff;
  }
  #spotlight-2 p{
    margin: 0;
  }
  /* #hero h2{
    position: absolute;
    top: 130px;
    left: 230px;
  }
  #hero button{
    position: absolute;
    right: 210px;
    top: 230px;
  } */
  
  #newR p{
    font-size: 17px;
  }
  .summary{
    background-color: transparent;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    top: 30px;
    left: 10px;
  }
  .summary button{
    width: 160px;
  }
  #hero h2{
    font-size: 15px;
  }
  #hero button, #events button, #join button{
    font-size: 15px;
  }
  #events button{
    width: 100%;
  }
  iframe{
    max-width: 70%;
    height: 50%;;
  }
  #spotlight-2 h5{
    margin: 0;
  }
  #spotlight-2 iframe{
    display: none;
  }
  .largeImg{
    display: none;
  }
  .description{
    font-size: 17px;
  }
  .grid-dis{
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .grid-disc img:hover{
    max-width: 100%;
  }
  /* directory */
  td{
    display: block;
  }

  #weather_icon{
    width: 40%;
  }

}

