header {
    background-color: #FFF6BD;
    font-family: 'Source Sans Pro', sans-serif;
  }
nav{
    display: flex;
    flex-direction: column; 
}
.responsive a{ /*toggle*/
    display:block;
}
img.logo{
    max-width: 100px;
}
a:first-child{
    display: none;
}
a{
    display:none;
    padding: 15px;
}
main{
    background-color:white;  
}
.grid-item{
    background-color: #CEEDC7;
    border: 1px solid rgba(126, 181, 74, 0.8);
    padding: 20px;
  }
  div:nth-child(5) {
    display: grid;
  }

@media screen and (max-width: 650px){
    header{
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }
    a:first-child{
        display: block;
        text-decoration: none;
        font-size: 2em; 
        text-align: center;
    }

header h3{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;
    line-height: 1px;
}

header p{
    font-size: 15px;
}
.grid{
    display:grid;
    grid-template-rows: repeat(4, 200px);
}

.grid-item{
    margin-top: 5px;
    margin-bottom: 5px;
}
div:nth-child(5){
    grid-template-rows: repeat(2, 150px);
    
}
.spotlight{
    border: 1px solid rgba(126, 181, 74, 0.8);
}

    
}


  